@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #747399;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  height: 100dvh;
}

.btn {
  background-color: #ea4c3c;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 1.5rem 3rem;
  margin: 1rem;
  font-size: 1.2rem;
  font-family: inherit;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  opacity: 0.9;
}

.btn:active {
  opacity: 0.8;
  transform: scale(0.9);
}
