@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  margin: 0;
  background-color: #fb7a6b;
  color: white;
}
.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: yellow;

  margin: 30px 50px;
}
.counter {
  font-size: 60px;
  opacity: 1;

  margin-top: 10px;
}

@media (max-width: 580px) {
  body {
    flex-direction: column;
  }
}
